@import '~normalize.css'; 
@import './fonts.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
	font-style: normal;
	background-color: #f2f2f2;
}

button,button:active,
input[type="submit"]{border: none;}
:root{
    --blue-color: #00ACED;;
    --white-color: #ffffff;
	--black-color: #363B45;
	--other-color: #F8F8F8;
    --grown-color: #979797; 
    
}
li,a,button{
    text-decoration: none;
    list-style-type: none;
}
.container{
    width: 1176px;
    padding: 0 15px;
}
.center{
    display: flex;
    justify-content: center;
}
.btn{
	display: flex;
	align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.213545px;
    background-color: var(--blue-color);
	color: var(--white-color);
	cursor: pointer;
}
header{
    display: block;
    height: 95px;
}

.header_wrapper{
    display: flex;
    
    height: 95px;
    background: var(--white-color);
   
    
}
._header_wr{
    display: flex;
    width: 100%;
    height: 95px;
    padding: 12px 0 8px 0;
    justify-content: space-between;
}
._content_wrapper{
    display: flex;
    height: 1100px;
}
.logo_wrapper{
    width: 30%
}
.logo{
    display: flex;
    width: 216px;
    height: 75px;
    background: url(../images/logo.svg)center center no-repeat;
}
nav{
    display: flex;
    height: 75px;
    align-items: center;
    width: 83%;
    margin-left: 28.43%;
}
._nav_mnu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 6.2%;
}
.__nav_mnu_href{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.213545px;
    color: var(--black-color);
}
a.btn.header_btn{
    width: 120px;
    height: 46px;
}
.banner_wrapper,._banner_content{
    display: flex;
    width: 100%;
    justify-content: center;
}
._banner_content{
	height: 791px;
	overflow: hidden;
}
.__banner_content_wrapper{
    display: flex;
    width: 100%;
    padding-top: 64px;
    position: relative;
}
.__banner_content_wrapper_text{
    display: flex;
    flex-wrap: wrap;
    width: 48.98%;
    height: 522px;
}
.__banner_content_text{
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
    letter-spacing: -0.555217px;
    color: var(--black-color);

}
.__banner_content_descr{
	font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.234899px;
    color: var(--black-color);
    margin-top: 10px;
}
.__banner_content_img{
    position: absolute;
    top: 4%;
    left: 35%;
}
._banner_img{
    display: flex;
    width: 900px;
    height: 555px;
    background: url(../images/slide1.svg)center center no-repeat;
}
._banner_img_2{
	display: flex;
	width: 1115px;
	height: 793px;
	background: url(../images/slide2.svg)center center no-repeat;
}
.banner_btn{
	width: 203px;
	height: 66px;
	margin-top: 43px;
}
ul.slick-dots{bottom: 50px;}
.slick-dots li button:before{background-color: var(--white-color);}
.slick-dots li button:before,button#slick-slide-control00:before,
button#slick-slide-control01::before,button#slick-slide-control02::before{
    color: transparent;
    content: "";
    width: 10px;
    height: 10px;
    opacity: 1;
    border-radius: 50%;
}
.slick-dots li,button#slick-slide-control00,button#slick-slide-control01,
li.slick-active{
	width: 10px;
    height: 10px;
}
ul.slick-dots li.slick-active,ul.slick-dots li{
	width: 10px;
	margin: 0 10px 0 0;
}
.slick-dots li.slick-active button::before{background-color: var(--blue-color);}
.slider.slick-initialized.slick-slider.slick-dotted{margin-bottom: 0;}
#content{
	background: var(--other-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner_wrapper{
	display: flex;
	height: 791px;
    
}
/* icon section*/
.content_icon_wrapper{
	position: absolute;
	top: 126%;
	left: 4%;
	z-index: 1;
}
._icon_banner_wrapper{
	display: flex;
	justify-content: space-between;
	
}
._icon_item,._icon_img1,._icon_img2,._icon_img3{display: flex;}
._icon_item{
	width: 29%;
	height: 516px;
	background-color: var(--white-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
._icon_item_shadow_el1,._icon_item_shadow_el2,._icon_item_shadow_el3{
	display: flex;
	width: 29.58%;
	height: 486px;
	background: #000000;
	mix-blend-mode: normal;
	opacity: 0.05;
	filter: blur(135.914px);
	position: absolute;
	left: 3%;
	top: 10.5%;
	z-index: -1;
}

._icon_item_shadow_el2{
	left: 36%;
    top: 7.5%;
}
._icon_item_shadow_el3{
	left: 72%;
	top: 4.5%;
	
}



.icon_item_wrapper{
	display: flex;
	width: 100%;
	padding: 56px 50px 127px 60px;
	flex-direction: column;
}
.icon_item_wrapper:nth-child(1){padding: 56px 26px 26px 60px;}
.icon_item_wrapper:nth-child(3){padding: 54px 50px 187px 60px;}
._icon_item_list{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	padding-left: 7%;
}
.__list_el{
	font-size: 18px;
	line-height: 30px;
	letter-spacing: -0.19219px;
	color: var(--black-color);
	mix-blend-mode: normal;
	opacity: 0.55;
}
._icon_item_list li {
	list-style-type: disc;
	color: var(--blue-color);
	margin: 0 5.5% 3.95% 0;

}
._icon_item_list li:nth-child(10){
	position: absolute;
	left: 164px;
	top: 154px;
	margin: 0;
}
._icon_item_btn_wr{
	display: flex;
	margin-top: 47px;
	flex-direction: row-reverse;
}
._icon_btn{
	width: 203px;
	height: 66px;
}
._icon_img1{
	width: 45px;
	height: 82px;
	background: url(../images/icon_dail.svg)center center no-repeat;
}
._icon_img2{
	width: 64px;
	height: 77px;
	background: url(../images/icon_clock.svg)center center no-repeat;
}
._icon_img3{
	width: 50px;
	height: 76px;
	background: url(../images/datapicker.svg)center center no-repeat;
}
._icon_name{
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: -0.213545px;
	color: var(--black-color);
	margin: 31px 0 25px 0;
}
._icon_name:nth-child(1){margin: 20px 0 18px 0 ;}
._icon_text{
	font-size: 18px;
	line-height: 30px;
	letter-spacing: -0.19219px;
	color: var(--black-color);
	mix-blend-mode: normal;
	opacity: 0.55;
}

#map{
	display: block;
	background-color: var(--white-color);
	height: 2313px;
	position: relative;
}
.map_wrapper{
	display: flex;
	justify-content: center;
	/* position: relative; */
	padding-top: 500px;
}
.map{
	display: block;
	width: 100%;
	height: 690px;
}
/* .map svg{height: 790px;} */
.zoomButton .zoomReset{display: none;}
.mapTooltip{
	display: none;
	position: absolute;
	width: 866px;
	height: 75px;
	background-color: var(--white-color);
	clip-path: polygon(0% 0%, 100% 0%, 100% 49%, 73% 51%, 66% 100%, 60% 49%, 0 49%);
}
/* forma */
#form{
	display: block;
	height: 328px;
	background-color: var(--white-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);	
}
form{padding-top: 17px;}
.form_wrapper{
	display: flex;
	width: 100%;
	height: 328px;
	box-shadow: 35px 27px 4px rgba(0, 0, 0, 0.25);
}
._form_content_wr{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 69px;
}
.form_btn{
    width: 203px;
    height: 66px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.213545px;
    cursor: pointer;
}
._form_label{
	font-weight: bold;
	font-size: 58px;
	line-height: 68px;
	letter-spacing: -0.61928px;
	color: var(--black-color);
}

._form_label > strong{color: var(--blue-color);}
#form .f_input_wr {
    position: relative;
	height: 60px;
	width: 21.1%;
}
#form .f_input_wr:after, #form .f_input_wr:before {
	content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
	background: var(--grown-color); 
	mix-blend-mode: normal;
}
#form .f_input_wr:after {
    background: #00a5ff;
    transform: scaleX(0);
	transition: transform 0.3s; 
}
#form .f_input_wr .f_label {
	display: block;
    font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.213545px;
	color: var(--black-color);
	mix-blend-mode: normal;
	opacity: 0.55;
    margin: 0;
    position: relative;
    transform: translateY(24px);
    transition: transform 0.3s;
    transform-origin: 0.5%;
	text-align: left; 
}
#form .f_input_wr .f_input {
	font-size: 18px;
	padding: 19.8px 0 ;
    line-height: 16px;
    display: block;
    height: 40px;
	border: none;
    outline: none;
	background: transparent; 
}
#form .f_input_wr .is_focused .f_label {
    font-size: 1em;
    color: var(--grown-color); }
#form .has_label .f_label {
    transform: translateY(0) scale(0.75); }
.f_input_wr .is_focused #form:after {transform: scaleX(1); }
._form_btn_wr{
	display: flex;
	align-items: flex-end;
}
/* other info*/
#other_info{margin-top: 47px;}
.other_info_wrapper{
	display: flex;
	justify-content: center;
}
.info_item_wr{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
._info_item{
	display: flex;
	width: 30%;
	height: 356px;
	background-color: var(--white-color);
	justify-content: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		
}
._info_item:nth-child(1){
	/* padding-top: 134px; */
	/* box-shadow: 31.7px 47px 4px rgba(0, 0, 0, 0.25); */

}

._info_item_wrapper{
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	align-items: center;
	box-shadow: 31.7px 47px 4px rgba(0, 0, 0, 0.25);
	
}
._info_item_wrapper:nth-child(1){
	padding-top: 84px;
	box-shadow: 31.7px 25.69px 4px rgba(0, 0, 0, 0.25);
}
._info_item_wrapper:nth-child(2){
	padding-top: 43px;
	box-shadow: 49.7px 25.69px 4px rgba(0, 0, 0, 0.25);
}
._info_item_wrapper:nth-child(3){
	padding-top: 64px;
	box-shadow: 39.7px 26.91px 4px rgba(0, 0, 0, 0.25);
}
.info_item_img_1{
	display: flex;
	width: 124px;
	height: 80px;
	background: url(../images/scanner.svg)center center no-repeat;
}
.info_item_img_2{
	display: flex;
	width: 111px;
	height: 118px;
	background: url(../images/tools.svg)center center no-repeat;
}
.info_item_img_3{
	display: flex;
	width: 86px;
	height: 99px;
	background: url(../images/chat.svg)center center no-repeat;
}
.info_item_text{
	display: flex;
	width: 80%;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	justify-content: center;
	text-align: center;
	letter-spacing: -0.213545px;
	color: var(--black-color);
}
.info_item_text:nth-child(1){margin-top: 36px;}
.info_item_text:nth-child(2){
	width: 60%;
	flex-wrap: wrap;
	margin-top: 39px;
}
.info_item_text:nth-child(3){margin-top: 40px;}
/* testimonials  */
.testimonials{
	display: block;
	height: 480px;
}
._company_item_wr{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
._company_item{
	display: flex;
	width: 49%;
	height: 320px;
	flex-wrap: wrap;
	background-color: var(--white-color);
	padding: 71px 86px 89px 54px;
}
._company_item_img_wr{
	display: flex;

}
._company_item_img{
	display: flex;
	width: 63px;
	height: 63px;
	background-color: var(--other-color);
	margin-right: 25px;;
	padding-bottom: 100px;
}
._company_item_info_wr{
	display: flex;
	width: 77%;
	margin-left: 4.5%;
	flex-direction: column;
}
._company_name_wr{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 12px;

}
._company_name{
	font-size: 20px;
	line-height: 23px;
	letter-spacing: -0.213545px;
	color: var(--black-color);

}
._company_icon{
	display: flex;
	width: 34px;
	height: 26px;
	background: url(../images/tumb_company.svg)center center no-repeat;
	margin-left: 5%;
}
._company_comment{
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.213545px;
	color: var(--black-color);
	mix-blend-mode: normal;
	opacity: 0.55;
}
footer{
	display: block;
	position: relative;
	width: 100%;
	height: 444px;
	background: var(--other-color);
	padding: 18.54% 0 0 18.75%;
}
footer .header_wrapper{
	/* padding-top: 267px; */
}